page-notas .content-md {
    background-image: url('../../assets/imgs/lds.png');
    background-size: cover;
}
.flex{
    display: flex;
}
.nota{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}